<?=Lang::get('lng.shop')?> /
<h3>Products</h3>
<div class="pics">
    <?php foreach($data['pages'] as $page_data) { ?>
    <div style="width:196px; float: left">
        <?=$page_data['name']?>
        <a href="/<?=App::getRouter()->getLanguage()?>/<?=App::getRouter()->getController()?>/view/<?=$page_data['alias']?>"><img src="/images/<?=$page_data['image']?>" alt="<?=$page_data['image']?>"></a>
        <?=$page_data['description']?><br/>
        $<?=$page_data['price']?>
    </div>
    <?php } ?>
    <div style="clear: both"></div>
</div>